---
// src/pages/index.astro
---

<html>
  <head>
    <title>UAL Comp Arts Degree Show 2025</title>
  </head>
  <body>
    <h1>Welcome to the Degree Show</h1>
    <p><a href="/artists">View the Artists</a></p>
  </body>
</html>
