---
import PocketBase from 'pocketbase';

// Connect to your local Pocketbase server
const pb = new PocketBase('http://127.0.0.1:8090');

// Fetch all artist records
const artists = await pb.collection('artists').getFullList({
  sort: '-created',
});
---

<h1>All Artists & Artwork Titles</h1>

<ul>
  {artists.map(artist => (
    <li>
      <strong>{artist.name}</strong><br />
      <em>Artwork Title:</em> {artist.artwork_title}
    </li>
  ))}
</ul>
